@media (max-width:1060px) {
    .background-image2{
        height: 900px;
    } 
    .second-section-aboutus{
        width: 70%; 
        margin: 0 auto;
        margin-top: 40px;
        padding-bottom: 14px; 
        
    }
    .left-block-div{
        margin-bottom: 20px;
           
    }
    .left-block-div:hover{
        width: 280px;
        height: 280px;  
    }
    .left-title{
        padding-left: 14px;
    }
    .title-div{
         padding-left: 14px; 
    }
    .left-div-block{
        margin-left: 14px;
    }
    .title-display-block{
        margin-left: 14px;
    }
    .right-title{
        display: none;
    }
    .fa-bars-progress{
        color: #fff;
        font-size: 28px;
        display:block ;
        margin-right: 28px;
    }
}
@media (max-width:1024px){
  
    .first-section-div{
        flex-direction: column;
    }
    .right-div-block{
         margin: 0 auto;  
         margin-bottom: 90px;
         margin-top: 40px;

    }
    
}
@media (max-width:793px){
    .second-section-aboutus{
        width: 100%;
        padding-right: 7px;
        padding-left: 7px; 
    }  
}

@media (max-width:585px){
    .second-section-aboutus{
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
    }
    .background-image2{
         height: 1450px;
    } 
    .right-div-block{
        
    }

}