/* header */
.background-image{
    background-image:url(../images/palms.jpg);
    height: 324px; 
    background-size:cover;
    background-repeat: no-repeat;
    margin-bottom: 90px;
    /* background-attachment: fixed;  */
     
}
.title-div{
    display: flex;
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;  
    justify-content: space-between;
    justify-items: baseline;
    padding-top: 30px;   
}
.left-title{
    display: flex;  
    font-size: 14px; 
}
.right-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;  
}
.ul-class{
    display: flex;
   
}
.li-class{ 
    display: flex;
    margin-left: 85px;
}
.a-class{
    color: #fff;
}
.header-icon{
    padding-left:5px ;
    padding-bottom: 6px ;
}
.fa-bars-progress{
    color: #fff;
    /* font-size: 45px; */
    display: none ; 
}

.active{
    color: #5863F8;
}
.title-discription{
    display: flex; 
    justify-content: flex-start; 
    flex-direction: column;
    font-size:42px ;   
    color: #fff;
    margin-top: 95px;
   
    
}
.discription-child{
    display: flex;  
    color: #fff;
    border-right: 1px  solid #fff;
    height: 17px;
    font-size: 14px;
    margin-top: 18px;
    padding-right: 40px;
}
.aboutus-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.child2{
    border-right: none;
    
}
/* first-section */

.first-section-div{
    display: flex;
    justify-content: space-between;
    max-width: 1088px;
    width: 100%;
    margin: 0 auto;
}
.left-div-block{
    display: flex;
    max-width: 444px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.left-div:nth-child(1){
    color:#5863F8;
    font-size: 14px;
    padding-bottom: 3px;
}
.left-div:nth-child(2){
   font-size: 42px;

}
.left-div:nth-child(3){
    font-size: 42px;
    padding-bottom: 14px;
}
.left-div:nth-child(4){
    opacity: 0.5;
    padding-bottom: 10px;
}
.left-div:nth-child(5){
    opacity: 0.5;
    padding-bottom: 20px;
}
.read-more{
    display: flex;
    background-color:#5863F8 ;
    width: 184px;
    height: 51px;
    color: #fff;
    justify-content: center;
    align-items: center;
    border-radius:2px ; 
    box-shadow: 5px 10px 13px #888888;
    transition: 0.3s 0.1s ;  
}
.read-more-class{
    padding-right: 14px;
    opacity: 0.8; 
    color: #fff
}
.read-more:hover{
    width: 190px;
    height: 53px;
}
.right-div-block{
    display: flex;
    width:536px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
        
}
.stears-size{
    width:260px;
    height:185px;
    margin-bottom: 16px;

}
.stears-size:hover{
    opacity: 0.7;
}
.image-opacity:hover{
    opacity: 0.7;
}
/* second-section */
.background-image2{
    background-image:url(../images/Group\ 13.png) ;
    height: 600px;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.second-section-div{
     max-width: 1088px;
     width: 100%;
     margin: 0 auto;        
}
.second-section-aboutus{
    display: flex;
    margin-top: 92px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 90px;
}
.second-section-title:nth-child(1){
    color:#5863F8;
    font-size: 14px;  
}
.second-section-title:nth-child(2){
   font-size: 42px;
   margin-top: 13px;
   color: #fff;
   
}
.second-section-title:nth-child(3){
    font-size: 42px;
    color: #fff;
 }
.left-block-div{
    display: flex;
    justify-content: center ;
    align-items: center;   
    flex-direction: column; 
    width: 260px;
    height: 260px;
    background-color: #fff;
    border-radius: 14px;
    transition: 0.5s 0.3s ;
    box-shadow: 5px 10px 29px  black;
}
.left-block-div:hover{
     width: 300px;
     height: 300px;
     

}
.div-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    width:59px ;
    height:58px ;
    background-color: #5863F8;
    border-radius: 100px ;
}
.hotel-icon{
    width: 32.73px;
    height: 32.73px;
   
}
.block-class:nth-child(1){
    color:black;
    font-size: 18px;
    text-align: center;
    margin-top: 29px;
}
.block-class:nth-child(2){
    color:black;
    font-size: 18px;
    text-align: center;
}
.block-class:nth-child(3){
    color: black;
    text-align: center;
    opacity: 0.5;
    margin: 24px 14px 0 14px;
}
.title-display-block{
     padding-top: 92px; 
} 
