/* header */
.background-image{
    background-image:url(../images/palms.jpg);
    height: 324px;
    background-size: cover;
   
}
.title-div{
    display: flex;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;   
    justify-content: space-between;
    justify-items: baseline;
    padding-top: 30px;
    /* flex-direction: column;        */
    
}
.left-title{
    display: flex;  
    font-size: 14px;
   
}
.right-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    
   
}
.ul-class{
    display: flex;
   
}
.title-width{
    /* display: flex; */
    
   
    
}
 .li-class{ 
    display: flex;
    margin-left: 85px;
}
.a-class{
    color: #fff;
}
.header-icon{
    padding-left:5px ;
    padding-bottom: 6px ;
}
.active{
    color: #5863F8;
}
.title-discription{
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    /* margin-top: 40px; */
    font-size:14px ;   
    color: #fff;
   
    
}
